:root {
  --footer-height: 50px;
}
body {
  overflow: hidden; /* Hide scrollbars */
}

.outer-container {
  height: calc(100vh - var(--footer-height));
  background-color: rgb(66, 63, 63);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.terminal {
  width: 60%;
  height: 800px;
  margin-top: 100px;
}

.footer {
  height: var(--footer-height);
  background-color: rgb(66, 63, 63);
  width: 100%;
  margin: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  margin-right: 10px;
  font-family: 'Brush Script MT', cursive;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: white;
  font-size: 22px;
}

.icons-container {
  margin-left: 10px;
}

.icons-container > * {
  margin-right: 5px;
}

.icons-container > *:hover {
  transform: scale(1.2);
}

.scroll-btn {
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.about-page {
  height: 100vh;
  background-color: rgb(66, 63, 63);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-page .scroll-btn {
  margin-top: 30px;
}

.about-container {
  margin-top: 100px;
  width: 60%;
  height: 800px;
  background-color: white;
  display: flex;
}

.images-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background: red; */
}

.content-container {
  width: 50%;
  height: 100%;
  background: black;
}
