@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.gallery-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider .image {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  display: none;
  box-shadow: 5px 2px 5px 0px #005b44;
}

.slider .active {
  display: block;
  animation: fadeImg 0.8s;
}

.slider-nav {
  display: flex;
  margin-top: 5px;
  width: 100%;
  justify-content: center;
}

.slider-nav .left-arrow {
  margin-right: 5px;
}

.slider-nav .right-arrow {
  margin-left: 5px;
}

.slider-nav > *:hover {
  transform: scale(1.8);
}

@keyframes fadeImg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
