:root {
  --footer-height: 40px;
  --terminal-margin: 10px;
  --outer-container-padding: 10px;
}

.outer-container {
  background-color: #005b44;
  padding-top: var(--outer-container-padding);
}

.terminal {
  max-width: 100%;
  height: calc(
    100vh - var(--footer-height) - var(--terminal-margin) -
      var(--outer-container-padding)
  );
  overflow-y: auto;
  margin: 0px 10px 10px 10px;
  padding: 10px;
  border: 2px solid #00c9a7;
  border-radius: 10px;
}

.terminal-header {
  display: flex;
  justify-content: space-between;
}
.terminal-header .volume-icon {
  margin-top: 7px;
  margin-right: 7px;
}

.welcome-message {
  color: #00c9a7;
}

.welcome-message .welcome-message-text {
  display: inline;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Anonymous Pro';
}

.welcome-message .cursor {
  display: inline;
  animation: blink 0.1s infinite alternate;
}

.inactive {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1; /* Visible */
  }
  to {
    opacity: 0; /* Invisible */
  }
}

.prompt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 17px;
  font-family: 'Anonymous Pro';
}

.prompt-label {
  color: #ffc75f;
  font-weight: bold;
}

.prompt-label .current-dir {
  color: #00c9a7;
  font-weight: bold;
}

.prompt-input {
  flex: 1;
  display: flex;
  align-items: center;
}

.prompt-input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #00c9a7;
  width: 100%;
  flex: 1;
  font-size: 16px;
  word-wrap: break-word;
}

.prompt-input input::selection {
  color: #00c9a7;
}

.current-output-row {
  color: #00c9a7;
  font-size: 17px;
  font-family: 'Anonymous Pro';
  display: flex;
  gap: 30px;
}

.current-output-column {
  color: #00c9a7;
  font-size: 17px;
  font-family: 'Anonymous Pro';
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.current-output-meter-div {
  display: flex;
  gap: 130px;
}

.current-output-meter-div .current-output-div-text {
  width: 200px;
}

.meter-container {
  display: flex;
  width: 200px;
  background-color: grey;
}
.meter-container .box {
  width: 20%;
  border: 1px solid white;
}

.meter-container .fill {
  background-color: green;
}

.contact-card {
  margin: 10px;
  padding: 5px;
  width: 250px;
  height: 100px;
  background-color: #00c9a7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.contact-card-data {
  display: flex;
  gap: 10px;
  color: #005b44;
  font-size: 15px;
  font-style: italic;
}

.about-section {
  width: 900px;
  min-height: 400px;
  margin: 10px;
  display: flex;
  gap: 5px;
}

.about-section .text {
  width: 40%;
  background-color: #00c9a7;
  color: #005b44;
  font-size: 15px;
  white-space: pre-line;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
}

.images-container {
  background-color: #00c9a7;
  width: 40%;
  border-radius: 5px;
}

.footer {
  height: var(--footer-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  transition: box-shadow 0.3s;
}

/* .footer:hover {
  background-color: #413e3e;
  box-shadow: 2px 2px 15px #413e3e;
} */

.description {
  margin-right: 10px;
  font-family: 'Brush Script MT', cursive;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: white;
  font-size: 22px;
}

.icons-container {
  margin-left: 10px;
}

.icons-container > * {
  margin-right: 5px;
}

.icons-container > *:hover {
  transform: scale(1.2);
}
