:root {
  --footer-height: 50px;
}

.terminal {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.terminal-header {
  display: flex;
  justify-content: space-between;
}
.terminal-header .volume-icon {
  margin-top: 7px;
  margin-right: 7px;
}

.welcome-message {
  background-color: black;
  color: rgb(0, 187, 0);
  padding-top: 10px;
  padding-left: 10px;
}

.welcome-message .welcome-message-text {
  display: inline;
  /* font-weight: bold; */
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Monoid';
}

.welcome-message .cursor {
  display: inline;
  animation: blink 0.1s infinite alternate;
}

.inactive {
  display: none;
}

@keyframes blink {
  from {
    opacity: 1; /* Visible */
  }
  to {
    opacity: 0; /* Invisible */
  }
}

.prompt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 17px;
  font-family: 'Monoid';
}

.prompt-label {
  color: white;
}

.prompt-input {
  flex: 1;
  display: flex;
  align-items: center;
  color: rgb(0, 187, 0);
}

.prompt-input input {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(0, 187, 0);
  width: 100%;
  flex: 1;
  font-size: 16px;
  word-wrap: break-word;
}

.prompt-input input::selection {
  color: rgb(0, 187, 0);
}

.current-output-row {
  color: rgb(0, 187, 0);
  font-size: 17px;
  font-family: 'Monoid';
  display: flex;
  gap: 30px;
}

.current-output-column {
  color: rgb(0, 187, 0);
  font-size: 17px;
  font-family: 'Monoid';
  display: flex;
  flex-direction: column;
}

.footer {
  height: var(--footer-height);
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  transition: box-shadow 0.3s;
}

.footer:hover {
  background-color: #413e3e;
  box-shadow: 2px 2px 15px #413e3e;
}

.description {
  margin-right: 10px;
  font-family: 'Brush Script MT', cursive;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: white;
  font-size: 22px;
}

.icons-container {
  margin-left: 10px;
}

.icons-container > * {
  margin-right: 5px;
}

.icons-container > *:hover {
  transform: scale(1.2);
}
